@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --main-color: #1f75fe;
  --hover-color: #0047ab;
  --background-main-color: #eee;
  --blanco: #fff;
  --negro: #000;
  --gris-oscuro: #555;
  --gris-claro: #777;
  --crema: #ccc;
  --success: #008000;
  --font-size: 16px;
  --font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::selection{
  background: var(--main-color);
  color: var(--blanco);
}

::-moz-selection{
  background: var(--main-color);
  color: var(--blanco);
}

::-webkit-selection{
  background: var(--main-color);
  color: var(--blanco);
}

::-webkit-scrollbar{
  width: 0.9375rem;
}

::-webkit-scrollbar-track{
  background-color: var(--blanco);
}

::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--hover-color);
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-main-color);
  overflow-x: hidden;
  line-height: 1.5;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.contenedor-pagina {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.subcontenedor-pagina {
  padding-bottom: 14.84375rem;
}

/* SM */
@media (max-width: 480px) {

  .subcontenedor-pagina {
    padding-bottom: 18.979375rem;
  }
}

/* M */
@media (min-width: 481px) and (max-width: 768px) {

  .subcontenedor-pagina {
    padding-bottom: 19.479375rem;
  }
}

/* L */
@media (min-width: 769px) and (max-width: 1024px) {

  .subcontenedor-pagina {
    padding-bottom: 14.260625rem;
  }
}

/* XL */
@media (min-width: 1025px) and (max-width: 1200px) {

  .subcontenedor-pagina {
    padding-bottom: 14.854375rem;
  }
}

/* 2XL */
@media (min-width: 1201px){

  .subcontenedor-pagina {
    padding-bottom: 15.479375rem;
  }
}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• Barra de navegación superior •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
.nav-bar-superior {
  background: var(--background-main-color);
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: 3.125rem;
  width: 100%;
  margin: 0;
  padding: 0 0.9375rem;
  position: sticky;
	top: 0;
	left: 0;
  z-index: 100;
}

.scroll-down {
	.nav-bar-superior {
		transform: translate3d(0, -100%, 0);
	}
}

.scroll-up {
	.nav-bar-superior {
    border-bottom: 0.046875rem solid var(--crema);
	}
}

.menu-is-open {
	overflow: hidden;
	.nav-bar-superior {
		filter: none;
	}
}

.seccion-icono-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0;
  padding: 0;
}

.icono-menu {
  color: var(--gris-oscuro);
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

.icono-menu:hover {
  color: var(--main-color);
}

.saludo-cliente {
  color: var(--gris-oscuro);
  font-size: 1.3125rem;
  font-weight: 600;
}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• Responsiveness •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
/* SM */
@media (max-width: 480px) {

  .nav-bar-superior {
    height: 1.875rem;
  }
  
  .seccion-icono-menu {
    height: 1.3125rem;
    width: 1.3125rem;
  }
  
  .icono-menu {
    height: 1.3125rem;
    width: 1.3125rem;
  }
  
  .saludo-cliente {
    font-size: 0.78125rem;
  }
}

/* M */
@media (min-width: 481px) and (max-width: 768px) {

  .nav-bar-superior {
    height: 2.1875rem;
  }
  
  .seccion-icono-menu {
    height: 1.5625rem;
    width: 1.5625rem;
  }
  
  .icono-menu {
    height: 1.5625rem;
    width: 1.5625rem;
  }
  
  .saludo-cliente {
    font-size: 0.9375rem;
  }
}

/* L */
@media (min-width: 769px) and (max-width: 1024px) {

  .nav-bar-superior {
    height: 2.5rem;
  }
  
  .seccion-icono-menu {
    height: 1.71875rem;
    width: 1.71875rem;
  }
  
  .icono-menu {
    height: 1.71875rem;
    width: 1.71875rem;
  }
  
  .saludo-cliente {
    font-size: 1.125rem;
  }
}

/* XL */
@media (min-width: 1025px) and (max-width: 1200px) {

  .nav-bar-superior {
    height: 2.8125rem;
  }
}

/* 2XL */
@media (min-width: 1201px){}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• Menu Lateral •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
.menu-lateral {
  background-color: var(--background-main-color);
  font-family: inherit;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  margin: 0;
  padding: 0;
}

.seccion-logo-y-cerar {
  background-color: var(--blanco);
  border: 0.09375rem solid var(--crema);
  border-radius: 0.46875rem;
  height: 3.75rem;
  width: 16.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.9375rem;
  padding: 0.9375rem;
}

.icono-logo-ararpi-menu-lateral {
  height: 1.875rem;
  width: 5.625rem;
  margin: 0;
  padding: 0;
}

.icono-cerrar {
  color: var(--gris-claro);
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0;
  padding: 0;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

.icono-cerrar:hover {
  color: var(--main-color);
}

.seccion-modelos-menu-lateral,
.seccion-info-menu-lateral {
  background-color: var(--blanco);
  border: 0.09375rem solid var(--crema);
  border-radius: 0.3125rem;
  height: auto;
  width: 16.875rem;
  margin: 0.9375rem;
  padding: 0.9375rem;
}

.bloque-modelos-menu-lateral,
.bloque-info-menu-lateral {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.46875rem 0;
  padding: 0.9375rem;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

.bloque-modelos-menu-lateral:hover,
.bloque-info-menu-lateral:hover {
  background-color: var(--background-main-color);
  border-radius: 0.46875rem;
}

.titulo-bloque-modelos-menu-lateral,
.titulo-bloque-info-menu-lateral {
  color: var(--gris-oscuro);
  font-size: 0.9375rem;
  font-weight: 600;
}

.bloque-modelos-menu-lateral:hover .titulo-bloque-modelos-menu-lateral,
.bloque-info-menu-lateral:hover .titulo-bloque-info-menu-lateral{
  color: var(--main-color);
}

.bloque-boton-contactanos-menu-lateral {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton-contactanos-menu-lateral {
  background-color: var(--main-color);
  border-radius: 2.8125rem;
  color: var(--blanco);
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0;
  padding: 0.46875rem 2.8125rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

.boton-contactanos-menu-lateral:hover {
  background-color: var(--hover-color);
}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• Responsiveness •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
/* SM */
@media (max-width: 480px) {}

/* M */
@media (min-width: 481px) and (max-width: 768px) {}

/* L */
@media (min-width: 769px) and (max-width: 1024px) {}

/* XL */
@media (min-width: 1025px) and (max-width: 1200px) {}

/* 2XL */
@media (min-width: 1201px){}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• Loader •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
.seccion-loader {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: fixed;
  background-color: var(--background-main-color);
  height: 100%;
  width: 100%;
  z-index: 99;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

.page-loader {
  width: 1.875rem;
  height: 1.875rem;
  border: 0.3125rem solid #0047ab;
  border-top-color: #1f75fe;
  animation: ararpi-loader 0.75s linear infinite;
  border-radius: 100%;
}

@keyframes ararpi-loader {
  to {
      transform: rotate(360deg);
  }
}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• Overlay Menu Lateral •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
.overlay-menu-lateral {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 15;
}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• Sección propósito •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
.seccion-palabras-dinamicas {
  background-color: var(--background-main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0 0.9375rem;
  overflow: hidden;
}

.seccion-palabras-dinamicas
.seccion-textos-cambiantes
.textos-cambiantes
.palabras-dinamicas{
  color: var(--gris-oscuro);
  font-size: 1.875rem;
  font-weight: 700;
  display: inline-block;
  display: none;
}

.seccion-textos-cambiantes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textos-cambiantes {
  margin: 0;
  padding: 0;
}

.seccion-palabras-dinamicas
.seccion-textos-cambiantes
.textos-cambiantes
.text-in{
 display: block;
 animation: textIn .5s ease;
}

.seccion-palabras-dinamicas
.seccion-textos-cambiantes
.textos-cambiantes
.palabras-dinamicas
.text-out{
 animation: textOut .5s ease;
}
@keyframes textIn{
 0%{
   transform: translateY(100%);
 }
 100%{
   transform: translateY(0%);
 }
}
@keyframes textOut{
 0%{
   transform: translateY(0%);
 }
 100%{
   transform: translateY(-100%);

 }
}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• Responsiveness •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
/* SM */
@media (max-width: 480px) {

  .seccion-palabras-dinamicas
  .seccion-textos-cambiantes
  .textos-cambiantes
  .palabras-dinamicas{
    font-size: 0.78125rem;
  }
}

/* M */
@media (min-width: 481px) and (max-width: 768px) {

  .seccion-palabras-dinamicas
  .seccion-textos-cambiantes
  .textos-cambiantes
  .palabras-dinamicas{
    font-size: 1.3125rem;
  }
}

/* L */
@media (min-width: 769px) and (max-width: 1024px) {

  .seccion-palabras-dinamicas
  .seccion-textos-cambiantes
  .textos-cambiantes
  .palabras-dinamicas{
    font-size: 1.5625rem;
  }
}

/* XL */
@media (min-width: 1025px) and (max-width: 1200px) {

  .seccion-palabras-dinamicas
  .seccion-textos-cambiantes
  .textos-cambiantes
  .palabras-dinamicas{
    font-size: 1.71875rem;
  }
}

/* 2XL */
@media (min-width: 1201px){}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• Banner principal •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
.seccion-banner-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  height: auto;
  width: 100%;
  margin: 2.8125rem 0;
  padding: 0 0.9375rem;
}

.bloque-titulo-banner-principal {
  height: auto;
  width: 50%;
  margin: 0;
  padding: 0 0.9375rem 0 0;
}

.titulo-banner-principal {
  background-image: linear-gradient(45deg, #1F75FE, #CC2B5E);
  background-clip: text;
  color: transparent;
  font-size: 2.8125rem;
  font-weight: 700;
  margin: 0 0 1.875rem 0;
  padding: 0;
}

.subtitulo-banner-principal {
  color: var(--gris-claro);
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0 0 1.875rem 0;
  padding: 0;
}

.boton-contactanos-banner-principal {
  background-color: var(--main-color);
  border-radius: 2.8125rem;
  color: var(--blanco);
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0;
  padding: 0.46875rem 2.8125rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

.boton-contactanos-banner-principal:hover {
  background-color: var(--hover-color);
}

.bloque-imagen-banner-principal {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0 0 0 0.9375rem;
}

.imagen-banner-principal {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• Responsiveness •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
/* SM */
@media (max-width: 480px) {

  .seccion-banner-principal {
    display: flex;
    flex-direction: column;
    font-family: inherit;
  }
  
  .bloque-titulo-banner-principal {
    height: auto;
    width: 100%;
    margin: 0 0 2.8125rem 0;
    padding: 0;
  }
  
  .titulo-banner-principal {
    font-size: 1.5rem;
    margin: 0 0 0.46875rem 0;
  }
  
  .subtitulo-banner-principal {
    font-size: 0.9375rem;
    margin: 0 0 1.875rem 0;
  }
  
  .boton-contactanos-banner-principal {
    font-size: 0.9375rem;
  }
}

/* M */
@media (min-width: 481px) and (max-width: 768px) {

  .seccion-banner-principal {
    display: flex;
    flex-direction: column;
    font-family: inherit;
  }
  
  .bloque-titulo-banner-principal {
    height: auto;
    width: 100%;
    margin: 0 0 2.8125rem 0;
    padding: 0;
  }
  
  .titulo-banner-principal {
    font-size: 2.34375rem;
    margin: 0 0 0.9375rem 0;
  }
  
  .subtitulo-banner-principal {
    font-size: 1.125rem;
    margin: 0 0 1.875rem 0;
  }
  
  .boton-contactanos-banner-principal {
    font-size: 0.9375rem;
  }
}

/* L */
@media (min-width: 769px) and (max-width: 1024px) {
  
  .titulo-banner-principal {
    font-size: 2.34375rem;
    margin: 0 0 0.9375rem 0;
  }
  
  .subtitulo-banner-principal {
    font-size: 1.125rem;
    margin: 0 0 1.875rem 0;
  }
  
  .boton-contactanos-banner-principal {
    font-size: 0.9375rem;
  }
}

/* XL */
@media (min-width: 1025px) and (max-width: 1200px) {

  .titulo-banner-principal {
    font-size: 2.5rem;
  }
}

/* 2XL */
@media (min-width: 1201px){}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• Sección Únete •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
.seccion-unete {
  background-image: linear-gradient(90deg, #283048, #859398);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.09375rem solid var(--crema);
  border-radius: 0.46875rem;
  font-family: inherit;
  height: auto;
  width: auto;
  margin: 2.8125rem 0.9375rem;
  padding: 0;
  overflow: hidden;
}

.bloque-unete {
  margin: 0;
  padding: 0.9375rem;
}

.texto-unete {
  color: var(--blanco);
  font-size: 1.3125rem;
  font-weight: 500;
}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• Responsiveness •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
/* SM */
@media (max-width: 480px) {

  .texto-unete {
    font-size: 0.9375rem;
    font-weight: 400;
  }
}

/* M */
@media (min-width: 481px) and (max-width: 768px) {

  .texto-unete {
    font-size: 0.9375rem;
    font-weight: 400;
  }
}

/* L */
@media (min-width: 769px) and (max-width: 1024px) {

  .texto-unete {
    font-size: 1.125rem;
    font-weight: 400;
  }
}

/* XL */
@media (min-width: 1025px) and (max-width: 1200px) {}

/* 2XL */
@media (min-width: 1201px){}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• Sección Porque Preferirnos •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
.seccion-porque-preferirnos {
  margin: 0;
  padding: 2.8125rem 0.9375rem;
}

.titulo-bloque-porque-preferirnos {
  color: var(--gris-oscuro);
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 0 0.9375rem 0;
  padding: 0;
}

.seccion-porque-preferirnos .bloque-cards-proque-preferirnos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.1875rem, 1fr));
  gap: 0.9375rem;
}

.cards-porque-preferirnos {
  background: var(--blanco);
  border: 0.09375rem solid var(--crema);
  border-radius: 0.9375rem;
  cursor: auto;
  margin: 0;
  padding: 0;
  transition: all 400ms ease;
  -moz-transition: all 40025ms ease;
  -webkit-transition: all 400ms ease;
}

.cards-porque-preferirnos:hover {
  transform: translateY(-2.75%);
}

.bloque-icono-cards-porque-preferirnos {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

.icono-cards-porque-preferirnos {
  color: var(--main-color);
  height: 9.375rem;
  width: 4.6875rem;
  margin: 0;
  padding: 0;
}

.linea-horizontal-cards-porque-preferirnos {
  border: 0.09375rem solid var(--main-color);
}

.bloque-info-cards-porque-preferirnos {
  margin: 0;
  padding: 0.9375rem;
}

.titulo-porque-preferirnos {
  color: var(--gris-oscuro);
  font-size: 1.3125rem;
  font-weight: 700;
  margin: 0 0 0.9375rem 0;
  padding: 0;
}

.texto-porque-preferirnos {
  color: var(--gris-claro);
  font-size: 0.9375rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• Responsiveness •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
/* SM */
@media (max-width: 480px) {
  
  .titulo-bloque-porque-preferirnos {
    font-size: 1.3125rem;
  }
  
  .titulo-porque-preferirnos {
    font-size: 1.125rem;
    margin: 0 0 0.46875rem 0;
  }
}

/* M */
@media (min-width: 481px) and (max-width: 768px) {

  .titulo-bloque-porque-preferirnos {
    font-size: 1.5625rem;
  }
  
  .titulo-porque-preferirnos {
    font-size: 1.125rem;
    margin: 0 0 0.46875rem 0;
  }
}

/* L */
@media (min-width: 769px) and (max-width: 1024px) {

  .titulo-bloque-porque-preferirnos {
    font-size: 1.71875rem;
  }
}

/* XL */
@media (min-width: 1025px) and (max-width: 1200px) {}

/* 2XL */
@media (min-width: 1201px){}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• Sección Acerca de Nosotros •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
.seccion-acerca-de-nosotros {
  margin: 0;
  padding: 2.8125rem 0.9375rem;
}

.titulo-acerca-de-nosotros {
  color: var(--gris-oscuro);
  font-size: 2.8125rem;
  font-weight: 700;
  margin: 0 0 2.8125rem 0;
  padding: 0;
  text-align: center;
}

.bloque-acerca-de-nosotros {
  background: var(--blanco);
  border: 0.09375rem solid var(--crema);
  border-radius: 0.9375rem;
  margin: 0;
  padding: 0.9375rem;
}

.titulos-parrafos-acerca-de-nosotros {
  color: var(--gris-oscuro);
  font-size: 1.5625rem;
  font-weight: 700;
  margin: 0 0 0.9375rem 0;
  padding: 0;
}

.parrafos-acerca-de-nosotros {
  color: var(--gris-claro);
  font-size: 0.9375rem;
  font-weight: 500;
  margin: 0 0 2.8125rem 0;
  padding: 0;
}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• Responsiveness •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
/* SM */
@media (max-width: 480px) {
  
  .titulo-acerca-de-nosotros {
    font-size: 1.3125rem;
  }

  .titulos-parrafos-acerca-de-nosotros {
    font-size: 1.125rem;
    font-weight: 600;
  }
}

/* M */
@media (min-width: 481px) and (max-width: 768px) {

  .titulo-acerca-de-nosotros {
    font-size: 1.71875rem;
  }

  .titulos-parrafos-acerca-de-nosotros {
    font-size: 1.125rem;
  }
}

/* L */
@media (min-width: 769px) and (max-width: 1024px) {

  .titulo-acerca-de-nosotros {
    font-size: 2.1875rem;
  }

  .titulos-parrafos-acerca-de-nosotros {
    font-size: 1.3125rem;
  }
}

/* XL */
@media (min-width: 1025px) and (max-width: 1200px) {

  .titulo-acerca-de-nosotros {
    font-size: 2.5rem;
  }

  .titulos-parrafos-acerca-de-nosotros {
    font-size: 1.3125rem;
  }
}

/* 2XL */
@media (min-width: 1201px){}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• Sección Privacidad •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
.seccion-privacidad {
  font-family: inherit;
  margin: 0;
  padding: 2.8125rem 0.9375rem;
}

.bloque-privacidad {
  border: 0.09375rem solid var(--crema);
  border-radius: 0.9375rem;
  margin: 0;
  padding: 0.9375rem;
}

.titulo-privacidad {
  color: var(--gris-oscuro);
  font-size: 2.8125rem;
  font-weight: 700;
  margin: 0 0 2.8125rem 0;
  padding: 0;
  text-align: center;
}

.bloque-privacidad {
  background: var(--blanco);
}

.titulos-parrafos-privacidad {
  color: var(--gris-oscuro);
  font-size: 1.5625rem;
  font-weight: 700;
  margin: 0 0 0.9375rem 0;
  padding: 0;
}

.parrafos-privacidad {
  color: var(--gris-claro);
  font-size: 0.9375rem;
  font-weight: 500;
  margin: 0 0 2.8125rem 0;
  padding: 0;
}

.enlace-contactanos {
  color: var(--main-color);
  margin: 0;
  padding: 0;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

.enlace-contactanos:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• Responsiveness •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
/* SM */
@media (max-width: 480px) {
  
  .titulo-privacidad {
    font-size: 1.3125rem;
  }

  .titulos-parrafos-privacidad {
    font-size: 1.125rem;
    font-weight: 600;
  }
}

/* M */
@media (min-width: 481px) and (max-width: 768px) {

  .titulo-privacidad {
    font-size: 1.71875rem;
  }

  .titulos-parrafos-privacidad {
    font-size: 1.125rem;
  }
}

/* L */
@media (min-width: 769px) and (max-width: 1024px) {

  .titulo-privacidad {
    font-size: 2.1875rem;
  }

  .titulos-parrafos-privacidad {
    font-size: 1.3125rem;
  }
}

/* XL */
@media (min-width: 1025px) and (max-width: 1200px) {

  .titulo-privacidad {
    font-size: 2.5rem;
  }

  .titulos-parrafos-privacidad {
    font-size: 1.3125rem;
  }
}

/* 2XL */
@media (min-width: 1201px){}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• Sección Términos & Condiciones ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
.seccion-terminos-y-condiciones {
  font-family: inherit;
  margin: 0;
  padding: 2.8125rem 0.9375rem;
}

.bloque-terminos-y-condiciones {
  border: 0.09375rem solid var(--crema);
  border-radius: 0.9375rem;
  margin: 0;
  padding: 0.9375rem;
}

.titulo-terminos-y-condiciones {
  color: var(--gris-oscuro);
  font-size: 2.8125rem;
  font-weight: 700;
  margin: 0 0 2.8125rem 0;
  padding: 0;
  text-align: center;
}

.bloque-terminos-y-condiciones {
  background: var(--blanco);
}

.titulos-parrafos-terminos-y-condiciones {
  color: var(--gris-oscuro);
  font-size: 1.5625rem;
  font-weight: 700;
  margin: 0 0 0.9375rem 0;
  padding: 0;
}

.parrafos-terminos-y-condiciones {
  color: var(--gris-claro);
  font-size: 0.9375rem;
  font-weight: 500;
  margin: 0 0 2.8125rem 0;
  padding: 0;
}

.enlace-contacto {
  color: var(--main-color);
  margin: 0;
  padding: 0;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

.enlace-contacto:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• Responsiveness •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
/* SM */
@media (max-width: 480px) {
  
  .titulo-terminos-y-condiciones {
    font-size: 1.3125rem;
  }

  .titulos-parrafos-terminos-y-condiciones {
    font-size: 1.125rem;
    font-weight: 600;
  }
}

/* M */
@media (min-width: 481px) and (max-width: 768px) {

  .titulo-terminos-y-condiciones {
    font-size: 1.71875rem;
  }

  .titulos-parrafos-terminos-y-condiciones {
    font-size: 1.125rem;
  }
}

/* L */
@media (min-width: 769px) and (max-width: 1024px) {

  .titulo-terminos-y-condiciones {
    font-size: 2.1875rem;
  }

  .titulos-parrafos-terminos-y-condiciones {
    font-size: 1.3125rem;
  }
}

/* XL */
@media (min-width: 1025px) and (max-width: 1200px) {

  .titulo-terminos-y-condiciones {
    font-size: 2.5rem;
  }

  .titulos-parrafos-terminos-y-condiciones {
    font-size: 1.3125rem;
  }
}

/* 2XL */
@media (min-width: 1201px){}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• Sección footer •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
.seccion-footer {
  background-color: #212121;
  border-top: 0.09375rem solid var(--crema);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: center;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0.9375rem 0.9375rem 0.46875rem 0.9375rem;
  left: 0;
  bottom: 0;

  position: absolute; 
}

.ftr {
  background-color: red;

  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.bloque-logo-arapi-y-icono-subir {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0.9375rem 0;
  padding: 0;
  height: auto;
  width: 100%;
}

.logo-ararpi-footer {
  height: 3.125rem;
  width: 9.375rem;
  margin: 0;
  padding: 0;
}

.icono-subir {
  color: var(--background-main-color);
	width: 2.8125rem;
	height: 2.8125rem;
	z-index: 1;
	cursor: pointer;
  margin: 0;
  padding: 0;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

.icono-subir:hover {
  color: var(--main-color);
}

.seccion-redes-sociales {
  display: block;
  align-items: center;
  height: auto;
  width: 100%;
  margin: 0.9375rem 0;
  padding: 0;
}

.icono-facebook,
.icono-x,
.icono-instagram,
.icono-linkedin {
  color: var(--blanco);
  height: 1.875rem;
  width: 1.875rem;
  margin: 0;
  padding: 0;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  margin: 0 0.9375rem 0 0;
  padding: 0;
}

.icono-facebook:hover,
.icono-x:hover,
.icono-instagram:hover,
.icono-linkedin:hover {
  color: var(--main-color);
}

.seccion-info {
  display: flex;
  align-items: center;
  height: auto;
  width: auto;
  margin: 0.9375rem 0;
  padding: 0;
}

.texto-seccion-info {
  color: var(--blanco);
  font-size: 0.9375rem;
  font-weight: 500;
  margin: 0 1.875rem 0 0;
  padding: 0;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

.texto-seccion-info:hover {
  color: var(--main-color);
  text-decoration: underline;
}

.texto-footer {
  color: var(--blanco);
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0.9375rem 0 0 0;
  padding: 0;
}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• Responsiveness •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
/* SM */
@media (max-width: 480px) {
  
  .logo-ararpi-footer {
    height: 1.5625rem;
    width: 4.6875rem;
  }
  
  .icono-subir {
    width: 1.3125rem;
    height: 1.3125rem;
  }

  .seccion-redes-sociales {
    margin: 0.46875rem 0;
  }
  
  .icono-facebook,
  .icono-x,
  .icono-instagram,
  .icono-linkedin {
    height: 1.3125rem;
    width: 1.3125rem;
    margin: 0 0.46875rem 0 0;
  }
  
  .seccion-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: auto;
    margin: 0.46875rem 0;
    padding: 0;
  }
  
  .texto-seccion-info {
    margin: 0.46875rem 0;
  }

  .texto-footer {
    margin: 0.46875rem 0 0 0;
  }
}

/* M */
@media (min-width: 481px) and (max-width: 768px) {

  .logo-ararpi-footer {
    height: 1.875rem;
    width: 5.625rem;
  }
  
  .icono-subir {
    width: 1.5rem;
    height: 1.5rem;
  }

  .seccion-redes-sociales {
    margin: 0.46875rem 0;
  }
  
  .icono-facebook,
  .icono-x,
  .icono-instagram,
  .icono-linkedin {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 0.46875rem 0 0;
  }
  
  .seccion-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: auto;
    margin: 0.46875rem 0;
    padding: 0;
  }
  
  .texto-seccion-info {
    margin: 0.46875rem 0;
  }

  .texto-footer {
    margin: 0.46875rem 0 0 0;
  }
}

/* L */
@media (min-width: 769px) and (max-width: 1024px) {

  .logo-ararpi-footer {
    height: 2.0625rem;
    width: 6.25rem;
  }
  
  .icono-subir {
    width: 1.71875rem;
    height: 1.71875rem;
  }

  .icono-facebook,
  .icono-x,
  .icono-instagram,
  .icono-linkedin {
    height: 1.71875rem;
    width: 1.71875rem;
  }
}

/* XL */
@media (min-width: 1025px) and (max-width: 1200px) {

  .logo-ararpi-footer {
    height: 2.5rem;
    width: 7.8125rem;
  }
  
  .icono-subir {
    width: 2.1875rem;
    height: 2.1875rem;
  }
}

/* 2XL */
@media (min-width: 1201px){}


/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• Responsiveness •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
/* SM */
@media (max-width: 480px) {}

/* M */
@media (min-width: 481px) and (max-width: 768px) {}

/* L */
@media (min-width: 769px) and (max-width: 1024px) {}

/* XL */
@media (min-width: 1025px) and (max-width: 1200px) {}

/* 2XL */
@media (min-width: 1201px){}
